html, body {
  background-color: #F9FAFC;
  font-size: 16px;
}

.app {
  position: relative;
  text-align: center;
  margin: 0 auto;
  min-height: 100vh;
  width: 620px;
  padding-bottom: 100px;
  -sizing: border-;
}

.svgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}
.svgContainer svg {
  border: 1px solid #e2e6ef;
}

.chrome-picker {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 80px;
}

.is-hidden{
  display: none;
}

input {
  background: none;
  color: #4e5f82;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #BCC6DA;
  width: 100%;
}

select {
  border: none;
  border-bottom: 1px solid #BCC6DA;
  color: #4e5f82;
  background-color: #F9FAFC;
  padding: 10px 0;
  font-size: 16px;
  width: 100%;
  -moz-appearance:none;
  -webkit-appearance: none
}

.selectContainer {
  position: relative;
  width: 100%;
}
.selectContainer:after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  pointer-events: none;
  border-width: 4px 3px 0 3px;
  border-color: #131e2b transparent transparent transparent;
}


.colorblock {
  width: 100%;
  height: 20px;
  border: 1px outset #f3f3f3;
  cursor: pointer;
}

.colorblock.is-empty::after{
  content: "X";
  color:red;
  font-weight: bold;
}

.flex-row {
  display: flex;
}

.flex-row-2 {
  display: flex;
  width: 50%;
}

.flex-row-3 {
  display: flex;
  width: 75%;
}

.input-section {
  position: relative;
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  margin: 20px; 
}

.input-section > span {
  font-size: 10px;
  padding-left: 3px;
  color: #9ea6b7;
  text-transform: uppercase;
}
.input-section.family-select {
  flex-grow: 2;
}

/* .input-section.section-edit {
  flex-grow: 2;
} */

.section__download {
  display: flex;
  flex-direction: row;
  align-items: flex-end
}
/* GRID */

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.6;
}