body {
  background-color: #F9FAFC;
}

.app {
  text-align: center;
  margin: 0 auto;
  min-height: 100vh;
  width: 620px;
}

.svgContainer {
  width: 600px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.chrome-picker {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 60px;
}

.is-hidden{
  display: none;
}

.app .menu {
  width: 50vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 120px 120px 120px 120px;
  grid-template-rows: 120px 120px;
}

.app .menu .ui.icon.button {
  padding: 0;
  margin: 1px;
  border-radius: 0;
  background-color: #fff;
  border: 1px solid #F1F3F8;

  padding-top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}

.app .menu .ui.icon.button .icon::before {
  color: #4e5f82;
}
.app .menu .ui.icon.button span {
  margin-top: 30px;
  font-size: 12px;
  color: #BCC6DA
}

input {
  background: none;
  color: #4e5f82;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  /* display: block; */
  width: 320px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #BCC6DA;
}

.input-section {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: baseline;
  margin: 20px; 
}

.input-section > span {
  font-size: 10px;
  padding-left: 3px;
  color: #BCC6DA;
  text-transform: uppercase;
}

.b-font-size input {
  width: 100px;
}

.colorblock {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.select select {
  border: none;
  border-bottom: 1px solid #BCC6DA;
  color: #4e5f82;
  background-color: #F9FAFC;
  padding: 10px 10px 10px 0px;
  font-size: 16px;
}

.select__family select{
  width: 320px
}
.select__style select {
  width: 100px;
}

.section__download {
  display: flex;
  flex-direction: row;
  align-items: flex-end
}
/* GRID */
.flex-row {
  display: flex;
  
}